## Gitignore file for Alloy demo
data-alloy
.DS_Store
**/vnv/**
**.log
nohup.out

# iw-Robot - Ignore the application folder and tar, but keep resources and workflow
iwRobot/iw-robot/
iwRobot/*.tar
iwRobot/iw-robot-*/
